<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595819740260-cumo1edi4rhrrh6bfnskitv93uig80qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595819740260-cumo1edi4rhrrh6bfnskitv93uig80qg</string>
	<key>API_KEY</key>
	<string>AIzaSyBB0R09vFAmthsNQDhF6M9xEcuI_lBMLuc</string>
	<key>GCM_SENDER_ID</key>
	<string>595819740260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hay.vitwash</string>
	<key>PROJECT_ID</key>
	<string>vitwash-56165</string>
	<key>STORAGE_BUCKET</key>
	<string>vitwash-56165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595819740260:ios:2166281302410e37d17371</string>
</dict>
</plist>